

#map {
    height: 600px;
    width: 800px;
    top: 50px;
    float: left;

  }


  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


  #circle{
    top: 50px;
    float: left;
    
  }